<p id="notice"><%= notice %></p>

<h1>
  <strong>Brand:</strong>
  <%= @brand.name %>
</h1>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>

<hr>

<%#= render 'sneakers/index' %>
<% @sneakers.each do |sneaker| %>
  <%= render 'sneakers/show', sneaker: sneaker %>
<% end %>

<%= render 'sneakers/form', sneaker: Sneaker.new %>
